/* 
Red: rgb(245, 91, 91);
White: rgb(255, 255, 255);
Blue: rgb(8, 126, 215);
*/

html {
	background: url("../img/bernie-sanders.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 100%;
}

body {
	margin: 0;
}

.container {
	margin: 0 20%;
}

.shadow {
	box-shadow: 0 0 10px 0 rgba(0,0,0,.25);
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.header {
	position: relative;
	width: 100%;
	height: 108px;
	background-color: rgb(8, 126, 215);
	color: rgb(255, 255, 255);
	font: 48px "Roboto Slab";
	font-weight: 700;
}

.header-text {
	position: absolute;
	bottom: 4px;
}

.main {
	width: 100%;
}

.faq {
	margin-top: 40px;
}

.faq .entry {
	font: 20px "Roboto Slab";
	margin: 40px 0px 80px;
}

.question-container {
	max-width: 55%;
}

.question {
	position: relative;
	display: inline-block;
	padding: 20px;
	background-color: rgb(245, 91, 91);
	color: rgb(255, 255, 255);
	box-shadow: 0 0 10px 0 rgba(0,0,0,.25);
	border-radius: 5px;
}

.question:after {
	content: "";
	position: absolute;
	top: -15px;
	left: 50px;
	border-width: 0 15px 15px;
	border-style: solid;
	border-color: rgb(245, 91, 91) transparent;
	display: block;
	width: 0;
}

.answer-container {
	float: right;
	margin-top: 20px;
	max-width: 55%;
}

.answer {
	position: relative;
	display: inline-block;
	padding: 20px;
	background-color: rgb(8, 126, 215);
	color: rgb(255, 255, 255);
	box-shadow: 0 0 10px 0 rgba(0,0,0,.25);
	border-radius: 5px;
}

.answer:after {
	content: "";
	position: absolute;
	bottom: -15px;
	right: 50px;
	border-width: 15px 15px 0;
	border-style: solid;
	border-color: rgb(8, 126, 215) transparent;
	display: block;
	width: 0;
}

.table-of-contents {
	position: fixed;
	top: 130px;
	left: 0;
	font: 14px "Roboto Slab";
	width: 15%;
	padding: 10px 10px 10px 0px;
	box-sizing: border-box;
	color: #087ED7;
	background-color: rgb(245, 245, 245);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.25);
	z-index: 2;
	transition: left 0.3s ease;
}

.table-of-contents:hover {
	left: 0 !important;
}

.questions {
	margin-left: 10px;
}

.toc-entry {
	margin: 5px 0;
	padding: 5px;
	border-left: 3px solid transparent;
	cursor: pointer;
}

.toc-entry:hover {
	background-color: rgba(255,255,255,0.9);
	color: rgb(30, 30, 30);
	font-weight: bold;
	transition: 0.2s all ease;
}

.toc-entry.selected {
	/* background-color: rgb(245, 91, 91);
	color: rgb(255, 255, 255);
	box-shadow: 0 0 10px 0 rgba(0,0,0,.25);
	border-radius: 5px; */

	border-left: 3px solid rgb(245, 91, 91);
	font-weight: bold;
}

#top, #convinced {
	font: 24px "Roboto Slab";
	font-weight: 100;
	text-align: center;
	background-color: #F55B5B;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin: 0;
	color: white;
}

#convinced a, #big-convinced a {
	text-decoration: none;
}

.convinced-button, .created-by {
	cursor: pointer;
}

.share-controls {
	width: 100%;
	max-width: 200px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	text-align: center;
	z-index: 0;
}

.share-controls img {
	width: 48px;
	border-radius: 50%;
	padding: 0;
}

.share-controls img:hover {
	background-color: rgb(8, 126, 215);
	background-size: 50%, 25%, 25%;
}

.footer {
	width: 100%;
	height: 275px;
	padding: 120px 50px 50px 50px;
	background-color: #087ED7;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.25);
	box-sizing: border-box;
	position: relative;
	z-index: 1;
}

.created-by {
	margin: 0 auto;
	font: 24px "Roboto";
	font-weight: 200;
	width: 300px;
	border: 1px solid white;
	color: white;
	padding: 10px 40px;
}

.not-the-billionaires {
	margin: 10px auto;
	width: 262.5px;
	height: 35.25px;
	background-image: url("../img/billionaires_white.svg");
	background-size: 100%;
}

#big-convinced {
	font-family: "Roboto Slab";
	font-size: 32px;
	margin: 0 auto 50px;
	width: 250px;
	padding: 20px;
	background-color: rgb(245, 91, 91);
	color: rgb(255, 255, 255);
	box-shadow: 0 0 10px 0 rgba(0,0,0,.25);
	border-radius: 5px;
	text-align: center;
}

#big-convinced:hover {
	background-color: rgb(255, 120, 120);
}

a {
	color: white;
}

a:hover {
	text-decoration: none;
}

.display-inline {
	display: inline !important;
}

@media (max-width: 800px) {
	.header {
		height: 160px;
	}

	.header-text {
		padding: 10px;
	}

	.container {
		margin: 5px;
	}

	.table-of-contents {
		display: none;
	}

	.question-container, .answer-container {
		max-width: 80%;
	}

	.share-controls {
		display: none;
	}

	.created-by {
		text-align: center;
		width: 90%;
		padding: 10px;
	}
}
